.show-for-medium {
    display: none;
}

#mainNav .navbar-brand {
    color: transparent;
    background-image: url('../img/exokit.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:active {
    color: transparent;
}

header.masthead {
    background-image: url('../img/sun_earth_mobile.png');
    background-size: cover;
    background-position: 25% center;
    background-repeat: no-repeat;
    color: #343434;
    position: relative;
    height: 100vh;
    min-height: 500px;
}

#sun-earth, #night-garden {
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    left: -50%;
}

.masthead-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
}

.slack-badge-bar {
    color: transparent !important;
    background-image: url('https://exoslack.now.sh/badge.svg');
    background-size: 87px 20px;
    background-repeat: no-repeat;
    background-position: center 65%;
}

.hero-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 56px 40px 0;
}

header.masthead .header-content {
    max-width: 100%;
}

header.masthead .headline {
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;
}

header.masthead h1 span {
    display: inline-block;
    margin-top: 40px;
    font-size: 1.4rem;
}

header.masthead .code {
    color: #ffffff;
    text-align: center;
    background: #000000;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    margin: 40px auto 0;
}

header.masthead .code::before {
    display: inline-block;
    content: '$ ';
    color: #8e8e8e;
}

.teaser {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    text-align: center;
    height: 34px;
    background-image: url('../img/more.svg');
    background-size: 24px 24px;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-animation: opacitySwell 2.0s;
    animation: opacitySwell 2.0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.teaser a {
    color: #ffffff;
}

#how-it-works, #download {
    padding: 100px 0 85px;
}

#how-it-works h2, #how-it-works p, #download h2 {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.03em;
}

#how-it-works h2, #download h2, #features h2, #what-is h2 {
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 60px;
    background: transparent;
    background-color: transparent !important;
}

.download-btn {
    margin: 40px 0 0;
    display: block;
    width: 200px;
    padding-top: 18px;
}

#how-it-works .container, #what-is .container {
    padding: 0 40px;
}

#what-is h2 {
    color: #434343;
}

#what-is {
    background-color: #ffffff !important;
    background: #ffffff;
    color: #434343;
}

#what-is .with-magic {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    display: block;
}

.tables {
    margin-top: 80px;
}

.tables h4 {
    padding: 10px 0 6px;
    font-size: 20px;
    border-bottom: 1px solid #434343;
    margin-bottom: 0;
}

#what-is .table {
    border: 1px solid #434343;
    border-radius: 3px;
    padding: 0;
}

#what-is .table img {
    max-width: 100%;
}

.connector {
    margin-bottom: 20px;
}

.with-magic p {
    text-align: center;
}

.logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px;
}

.xo, .leaper {
    background-size: cover;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
}

.xo {
    background-image: url('../img/xo.png');
}

.leaper {
    background-image: url('../img/leaper.png');
}

.plus {
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 30px;
}

#exploded-graphic {
    padding: 100px 0 85px;
}

#exploded-graphic h2 {
    background: transparent;
    background-color: transparent !important;
    color: #434343;
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 60px;
    text-align: center;
    width: 100%;
}

.figure-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.figure, .figure img {
    max-width: 100%;
}

.exploded {
    width: 80%;
    margin: 40px 0;
    max-width: 360px;
}

.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.feature {
    margin-bottom: 20px;
    margin-right: 0;
}

section.features .section-heading {
    margin-bottom: 0;
}

#download h2, #features h2, #contact h2 {
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

#features h2 {
    margin-bottom: 60px;
}

.platform-btn {
    border-color: #434343;
    color: #434343;
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.platform-btn:hover, .platform-btn:focus, .platform-btn:active {
    border-color: #fdcc52 !important;
    color: #ffffff;
    background-color: #fdcc52 !important;
}

#features p {
    /*width: 100%;*/
    text-align: center;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

#features p i {
    font-size: 40px;
}

.os-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 60px;
}

.os {
    display: none;
}

section.cta {
    background-image: url('../img/night_garden_still.png');
    padding-left: 40px;
    padding-right: 40px;
    background-position: 85% center;
    background-repeat: no-repeat;
    overflow: hidden;
}

section.cta h3 {
    width: 100%;
    text-align: center;
    margin-right: 0;
}

section.cta .cta-content .container h3 {
    margin-right: 0;
    color: #ffffff;
    font-size: 34px;
    margin-left: 0;
}

section.cta a {
    display: block;
    margin: 40px auto 0;
    width: 290px;
    padding-top: 18px;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    border-color: white;
    background-color: rgba(255,255,255,0.3);
}

#contact h2 {
    width: 100%;
    color: #434343;
    font-size: 1.8rem;
}

#contact {
    background-color: #ffffff !important;
    background: #ffffff;
}

#contact li {
    color: #434343;
}

.social-slack {
    background-image: url('../img/xo.png');
    background-size: 80px auto;
    background-position: center;
    background-repeat: no-repeat;
}

.social-github {
    background-image: url('../img/gh.png');
    background-size: 100% auto;
    background-position: center 40%;
    background-repeat: no-repeat;
}

#contact .list-inline-item:not(:last-child) {
    margin-right: 30px;
}

.attributions a {
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 15px;
}

.attributions {
    font-size: 14px;
    padding: 0 30px;
    margin-bottom: 15px;
}

@media (min-width: 600px) {
    .slack-badge-bar {
        right: 100px;
    }
}

@media (min-width: 640px) {
    .slack-badge-bar {
        right: 120px;
    }
}

@media (min-width: 768px) {
    .show-for-medium {
        display: initial;
    }

    .hide-for-medium {
        display: none;
    }

    .tables {
        padding-left: calc(100% / 12);
    }

    header.masthead .headline {
        font-size: 2.2rem;
    }

    header.masthead h1 span {
        font-size: 1.6rem;
    }

    header.masthead .code {
        font-size: 100%;
        width: 280px;
    }

    #how-it-works .container {
        max-width: 1200px;
    }

    #what-is .container {
        padding: 0 0;
    }

    .how {
        max-width: 600px;
    }

    .figure.exploded {
        margin-left: auto;
        max-width: 600px;
        display: block;
    }

    .platform-btn {
        max-width: 300px;
    }

    .features {
        max-width: 540px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .slack-badge {
        background-image: url('https://exoslack.now.sh/badge.svg');
        background-size: 87px 20px;
        background-repeat: no-repeat;
        background-position: 20% center;
    }

    #mainNav .navbar-nav > li > a.slack-badge,
    #mainNav .navbar-nav > li > a.slack-badge:focus,
    #mainNav .navbar-nav > li > a.slack-badge:hover,
    #mainNav .navbar-nav > li > a.slack-badge:active {
        color: transparent;
    }

    .hide-for-lg {
        display: none;
    }

    #mainNav:not(.navbar-shrink) .navbar-brand {
        background-image: url('../img/exokit_light.png');
        margin-top: 3px;
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: transparent;
    }

    #sun-earth, #night-garden {
        left: 0;
    }

    #how-it-works {
        min-height: 100vh;
        padding: 0 0 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    #how-it-works h2 {
        font-size: 2.4rem;
    }

    #how-it-works p {
        font-size: 1.8rem;
    }
}

@media (min-width: 1080px) {
    section.cta {
        overflow: hidden;
    }
}

@-webkit-keyframes opacitySwell {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.65;
    }
}

@keyframes opacitySwell {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.65;
    }
}