.download-button {
  display: flex;
  padding: 15px;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  background-color: #e81e62;
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.download-button:hover {
  color: #FFF;
  background-color: #ad1457;
  text-decoration: none;
}
.row{
  text-align: center;
}
